<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            Login
          </div>

          <div class="card-body">
            <div class="form-group">
              <label for="username">Email</label>
              <input type="text" class="form-control" id="username"
                placeholder="Username" v-model="form.email" aria-label="Username" >
            </div>
            <div class="form-group">
              <label for="password">Contraseña</label>
              <input type="password" class="form-control" id="password"
                placeholder="Password" v-model="form.password" aria-label="Username" >
            </div>
            <div class="alert alert-warning" role="alert" v-if="alert">
              {{ alert }}
            </div>
            <router-link :to="{name:'user.registro'}" class="text-right">
              Registrarse
            </router-link>
          </div>

          <div class="card-footer">
            <div class="text-right">
              <button type="button" class="btn btn-secondary" 
                @click="$router.back()">
                Atras
              </button>
              <button type="button" class="btn btn-primary" 
                @click="submit"
                :disabled="form.email.length == 0 || form.password.length == 0">
                Ingresar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data(){
      return {
        alert:null,
        form:{
          email:'',
          password:'',
        }
      }
    },
    methods:{
      submit(){
        let url = this.$router.resolve({
          name:'user.login',
        }).href
        axios.post(url,this.form).then(()=>{
          this.$root.refresh_user()
          this.$router.push({
            name:'home'
          })
        }).catch((error)=>{
          this.alert = error.response.data.message
        })
      }
    }
  }
</script>
