<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            Login
          </div>

          <div class="card-body">
            <div class="form-group">
              <label for="username">Nombre de usuario</label>
              <input type="text" class="form-control" id="username"
                placeholder="Username" v-model="form.name" aria-label="Username" >
            </div>
            <div class="form-group">
              <label for="username">Correo</label>
              <input type="text" class="form-control" id="username"
                placeholder="Username" v-model="form.email" aria-label="Username" >
            </div>
            <div class="form-group">
              <label for="password">Contraseña</label>
              <input type="password" class="form-control" id="password"
                placeholder="Password" v-model="form.password" aria-label="Username" >
            </div>
            <div class="form-group">
              <label for="password">Confirmar Contraseña</label>
              <input type="password" class="form-control" id="password"
                placeholder="Password" v-model="confirm_password" aria-label="Username" >
            </div>
            <div class="alert alert-warning" role="alert" v-if="alert">
              {{ alert }}
              <ul v-if="Object.keys(errors).length > 0">
                  <li v-for="(error,key) in errors" :key="key">
                      {{ error[0] }}
                  </li> 
              </ul>
            </div>
          </div>

          <div class="card-footer">
            <div class="text-right">
              <button type="button" class="btn btn-secondary" 
                @click="$router.back()">
                Atras
              </button>
              <button type="button" class="btn btn-primary" 
                @click="submit"
                :disabled="form.name.length == 0 || form.email.length == 0 || 
                    form.password.length == 0 || form.password != confirm_password">
                Ingresar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data(){
      return {
        alert:null,
        errors:{},
        confirm_password:'',
        form:{
          name:'',
          email:'',
          password:'',
        }
      }
    },
    methods:{
      submit(){
        let url = this.$router.resolve({
          name:'user.registro',
        }).href
        axios.post(url,this.form).then(()=>{
          this.$router.push({
            name:'home'
          })
        }).catch((error)=>{
          this.alert = error.response.data.message
          this.errors = error.response.data.errors
          console.log(this.errors)

        })
      }
    }
  }
</script>
