<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            {{ form.nombre }}
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-12 text-right">
                <button type="button" class="btn btn-secondary" 
                  @click="$router.back()">
                  <i class="fas fa-arrow-left"></i>
                  Atras
                </button>
                <button v-if="$root.user && form.creador_id && $root.user.id != form.creador_id"
                  type="button" class="btn btn-warning"
                  data-toggle="modal" data-target="#carrito" @click="carrito=form;cantidad=1;">
                  <i class="fas fa-shopping-cart"></i>
                  Añadir al carrito
                </button>
                <button v-if="$root.user && form.creador_id && $root.user.id == form.creador_id"
                  type="button" class="btn btn-primary" @click="ver_reserva(form.id)">
                  <i class="fas fa-table"></i>
                  Ver Reservas
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="row">
                  <div class="col-4">Categoría:</div>
                  <div class="col-8">{{ form.categoria?form.categoria.nombre:'n/a' }}</div>
                </div>
                <div class="row">
                  <div class="col-4">Precio:</div>
                  <div class="col-8">{{ formatear_precio(form.precio) }}</div>
                </div>
                <div class="row">
                  <div class="col-4">Stock:</div>
                  <div class="col-8">{{ form.stock? form.stock : 'n/a' }}</div>
                </div>
              </div>
              <div class="col-6">
                <img v-if="form.imagen" :src="form.imagen" 
                  style="object-fit:containt;width:70%;margin-left:15%">
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <em>{{form.descripcion}}</em>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="carrito" tabindex="-1" role="dialog" 
      aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">
            Añadir "{{ carrito.nombre }}" al carrito
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              
            <div class="form-group">
              <label>Cantidad (max: {{carrito.stock}})</label>
              <input type="number" v-model="cantidad" class="form-control" 
                :max="carrito.stock" min=1 />
            </div>
            <div class="form-group">
              <label>Precio</label>
              <div class="form-control"> {{ formatear_precio(carrito.precio * cantidad) }}</div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              Cerrar
            </button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" 
              @click="submit_carrito()">
              Añadir
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data(){
    return {
      carrito:{
        id:null,
        nombre:null,
        stock:null,
        precio:null,
      },
      cantidad:null,
      form:{
        accesorios:[],
        nombre:'',
        descripcion:'',
        imagen:null,
        precio:null,
        stock:null,
        categoria:null,
      }
    }
  },
  created(){
    this.getData()
        
  },
  methods:{
    getData(){
      let url = this.$router.resolve({
        name:'productos.item',
        params:{
          id:this.$route.params.id
        }
      }).href;
      axios.get(url).then((response)=>{
        this.form = response.data
      })
    },
    submit_carrito(){
      let url = this.$router.resolve({
        name:'carrito'
      }).href;
      let data = {
        cantidad : this.cantidad,
        producto_id : this.carrito.id
      }
      let nombre = this.carrito.nombre

      axios.post(url,data).then((response)=>{
        this.alert = {
          tipo:'success',
          mensaje:nombre + ' fue añadido al Carrito'
        }
      }).catch(()=>{
        this.alert = {
          tipo:'warning',
          mensaje:'No se pudo '+ nombre + 'añadir al Carrito'
        }
      })
    },
    ver_reserva(id){
      this.$router.push({
        name:'productos.reserva',
        params:{
          id:id
        }
      })
    },
    formatear_precio(precio){
      if(precio === null){
        return 'n/a';
      }
      return precio.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")+ ' Gs.';
    }
  }
}
</script>

