<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">        
        <div class="card">
          <div class="card-header">
            Reservas de {{ producto.nombre }}
          </div>

          <div class="card-body">            
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Solicitante</th>
                  <th>Cantidad</th>
                  <th>Precio</th>
                </tr>
              </thead>
              
              <tbody>
                <tr v-for="(r,index) in reservas" :key="index">
                  <td style="max-width:20px;">{{ index + 1 }}</td>
                  <td> {{ r.solicitante.email }}</td>
                  <td class="text-right"> {{ r.cantidad }}</td>
                  <td class="text-right"> {{ formatear_precio(r.precio) }}</td>
                </tr>
                <tr v-if="reservas.length == 0">
                  <td colspan="4">No hay reservas de este artículo</td>
                </tr>
                <tr v-else>
                  <td colspan="3" class="text-right">Total</td>
                  <td class="text-right">{{ formatear_precio(sumar(reservas)) }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data(){
      return {
        count:null,
        cantidad:null,
        producto:{},
        reservas:[],
      }
    },
    created(){
      this.getData()
    },
    methods:{
      getData(){
        let url = this.$router.resolve({
          name:'productos.reserva',
        }).href;
        axios.get(url).then((response)=>{
          this.count = response.data.size          
          this.producto = response.data.producto
          this.reservas = response.data.values
        })
      },
      formatear_precio(precio){
        if(precio == null){
          return 'n/a';
        }
        return precio.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")+ ' Gs.';
      },
      sumar(lista){
        let sum = 0;
        for(let i in  lista){
          sum += lista[i]['precio']
        }
        return sum
      },
    }
  }
</script>
