<template>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
        <div class="text-right" style="margin-bottom:4px;">
              <button type="button" class="btn btn-primary" data-toggle="modal" 
                data-target="#form" @click="to_form(null)">
                <i class="fas fa-plus"></i> Nuevo Producto
              </button>
        </div>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Reservas</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(prod,index) in productos" :key="index">
                    <td>{{index + 1}}</td>
                    <td>{{prod.nombre}}</td>
                    <td>{{prod.reservas_count}}</td>
                    <td>
                      <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-primary" @click="ver(prod.id)">
                            <i class="fas fa-list"></i>
                        </button>
                        <button type="button" class="btn btn-light" @click="to_form(prod.id)">
                            <i class="far fa-edit"></i>
                        </button>
                        <button type="button" class="btn btn-danger" data-toggle="modal" 
                            data-target="#to_delete" @click="modal.id = prod.id;modal.nombre = prod.nombre">
                            <i class="far fa-trash-alt"></i>
                        </button>
                      </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="modal fade" id="to_delete" tabindex="-1" role="dialog" 
            aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">
                        Borrar Producto
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        ¿Desea borrar el producto {{ modal.nombre }}?
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Cerrar
                    </button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" 
                        @click="del(modal.id)">
                        Borrar
                    </button>
                </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
</template>
<script>
export default {
    data(){
        return {
            modal:{
                id:null,
                nombre:'',
            },
            count: null,
            productos:[],
        }
    },
    created(){
        this.getData()
    },
    methods:{
        getData(){
            let url = this.$router.resolve({
                name:'productos.list',
                query:{
                    to_sale:true,
                }
            }).href;
            axios.get(url).then((response)=>{
                this.count = response.data.size
                this.productos = response.data.values
            })
        },
        del(id){
            let url = this.$router.resolve({
                name:'productos.item',
                params:{
                    id:id,
                }
            }).href
            axios.delete(url).finally(()=>{
                this.getData()
            })
        },
        ver(id){
            this.$router.push({
                name:'productos.item',
                params:{
                    id:id
                }
            })
        },
        to_form(id){
            if(id == null){
                this.$router.push({
                    'name': 'productos.crear'
                })
            }else{
                this.$router.push({
                    name:'productos.editar',
                    params:{
                        id:id
                    }
                })
            }
        }
    }
}
</script>
