<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            {{ nuevo?'Nuevo Producto':'Editar Producto'}}
          </div>

          <div class="card-body">
            <div class="form-group">
              <label for="nombre">Nombre</label>
              <input type="text" :class="'form-control ' + validation.nombre" id="nombre"
                placeholder="Nombre" v-model="form.nombre">
                <div class="invalid-feedback">Elija un nombre para el producto</div>
            </div>
            <div class="form-group">
              <label for="descripcion">Descripción</label>
              <input type="text" :class="'form-control ' + validation.descripcion" id="descripcion"
                placeholder="Descripcion" v-model="form.descripcion">
            <div class="invalid-feedback">Detalle una descripcion para el producto</div>
            </div>
            <div class="form-group">
              <label for="categoria">Categoría</label>
              <select :class="'form-control ' + validation.categoria_id" 
                id="categoria" v-model="form.categoria_id">
                <option v-for="(cat,index) in categorias" :key="index" :value="cat.id">
                    {{ cat.nombre }}
                </option>
              </select>

              <div class="invalid-feedback">Selecciones una categoría</div>
            </div>
            <div class="form-group">
              <label for="precio">Precio</label>
              <input type="number" :class="'form-control ' + validation.precio" id="precio"
                placeholder="Precio" v-model="form.precio" min=0>
            </div>
            
            <div class="form-group">
              <label for="stock">Stock</label>
              <input type="number" :class="'form-control ' + validation.stock" id="stock"
                placeholder="Stock" v-model="form.stock" min=0>
            </div>
            <div class="custom-file">
              <input type="file" :class="'custom-file-input ' + validation.imagen"
                accept="image/*" @change="uploadImage($event)" id="imagen">              
              <label class="custom-file-label" for="imagen">Imagen</label>
              <div class="invalid-feedback">Adjunte una imagen</div>
            </div>
            <div class="form-group" style="margin-top:5px">
                <img v-if="thumbnail" :src="thumbnail" 
                    style="object-fit:containt;height:50px;"/>
            </div>

            <div class="form-group">
              <label>Accesorios</label>                
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(acc,index) in form.accesorios" :key="index">
                    <td>{{index + 1}}</td>
                    <td>
                      <input type="text" class="form-control" v-model="acc.nombre">
                    </td>
                    <td>
                      <input type="number" class="form-control" v-model="acc.precio" :min=0>
                    </td>
                    <td>
                      <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-danger" @click="delete_row(index)">
                          <i class="fas fa-times"></i>
                        </button>
                        <button type="button" class="btn btn-primary"
                          @click="change_row(index,index-1)" :disabled="index == 0">
                          <i class="fas fa-arrow-up"></i>
                        </button>
                        <button type="button" class="btn btn-primary"
                          @click="change_row(index,index+1)" :disabled="index + 1 == form.accesorios.length">
                          <i class="fas fa-arrow-down"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                  <tr v-if="form.accesorios.length == 0" >
                    <td colspan="4" class="text-center"> No hay accesorios </td>
                  </tr>
                  <tr>
                    <td colspan="4" class="text-center" style="padding:0">
                      <button type="button" class="btn btn-primary" style="width:100%"
                        @click="form.accesorios.push({
                          nombre:'',
                          precio:0
                        })">
                        <i class="fas fa-plus"></i>
                        Agregar accesorio
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="card-footer">
            <div class="text-right">
              <button type="button" class="btn btn-secondary" 
                @click="$router.back()">
                Atras
              </button>
              <button type="button" class="btn btn-primary" 
                @click="validate(true,true)">
                Guardar Cambios
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
    watch:{
        form:{
            deep:2,
            handler(){
                this.validate(false,false)
            }
        }
    },
    data(){
        return {            
            nuevo: this.$route.params.id == undefined,
            categorias:[],
            thumbnail:null,
            is_valid:false,
            validation:{
                nombre:'',
                descripcion:'',
                imagen:'',
                precio:'',
                stock:'',
                categoria_id:''
            },
            form:{
                accesorios:[],
                nombre:'',
                descripcion:'',
                imagen:null,
                precio:null,
                stock:null,
                categoria_id:null,
            }
        }
    },
    created(){
        if(!this.nuevo){
            this.getData()
        }
        let url = this.$router.resolve({
            name:'productos.list',
            query:{
                opciones:true
            }
        }).href
        axios.get(url).then((response)=>{
            this.categorias = response.data.categorias
        })
    },
    methods:{
        getData(){
            let url = this.$router.resolve({
                name:'productos.item',
                params:{
                    id:this.$route.params.id
                }
            }).href;
            axios.get(url).then((response)=>{
                this.form = response.data
                this.thumbnail = this.form.imagen
                this.form.imagen = null;
            })
        },
        validate (put_invalid,submit){
            let valid = true;
            let funciones = {
                nombre: (v) => v.length > 0,
                descripcion: (v) => v.length > 0,
                imagen: (v) => this.thumbnail != null,
                categoria_id: (v) => v != null,
                precio: (v) => v != null,
                stock: (v) => v!= null,
            }

            for(let k in funciones){
                if(funciones[k](this.form[k])){
                    this.validation[k] = 'is-valid'
                }else{
                    valid = false                    
                    if(put_invalid){
                        this.validation[k] = 'is-invalid'
                    }else if (this.validation[k] == 'is-valid'){
                        this.validation[k] = ''
                    }
                }
            }

            if(valid && submit){
                this.submit()
            }

        },
        uploadImage(event) {
            let url = this.$router.resolve({
                name:'productos.list',
                query:{
                    just_image:true
                }
            }).href; 

            let data = new FormData();
            data.append('name', 'my-picture');
            data.append('file', event.target.files[0]); 

            
            axios.post(url, data).then(
                response => {
                    this.form.imagen = response.data.code
                    this.thumbnail = response.data.thumbnail
                }
            )
        },
        submit(){
            let go_list = (response)=>{
                this.$router.push({
                    name:'productos.list'
                })
            }
            if(this.nuevo){
                let url = this.$router.resolve({
                    name:'productos.list'
                }).href
                axios.post(url,this.form).then(go_list)
            }else{
                let url = this.$router.resolve({
                    name:'productos.item',
                    params:{
                        id:this.$route.params.id,
                    }
                }).href
                axios.put(url,this.form).then(go_list)
            }
        },
        change_row(i,j){
            let nombre = this.form.accesorios[i].nombre
            let precio = this.form.accesorios[i].precio
            
            this.form.accesorios[i].nombre = this.form.accesorios[j].nombre
            this.form.accesorios[i].precio = this.form.accesorios[j].precio
            
            this.form.accesorios[j].nombre = nombre
            this.form.accesorios[j].precio = precio
            
        },
        delete_row(index){            
            this.form.accesorios.splice(index,1)
        }
    }
}
</script>
<style scoped> 
    .form-group{
        min-width: 250px;
    }
</style>
