<template>
    <nav class="navbar sticky-top navbar-light bg-success">
        <a class="navbar-brand" @click="go_to('home')">
            <i class="fas fa-home"></i>
            Sistema
        </a>

        <a class="navbar-nav" v-if="$root.user"
            @click="go_to('carrito')">
            <i class="fas fa-shopping-cart"></i>
            Carrito
        </a>
        <a class="navbar-nav" v-if="$root.user"
            @click="go_to('reservas')">
            <i class="fas fa-receipt"></i>
            Reservas
        </a>
        <a class="navbar-nav" v-if="$root.user"
            @click="go_to('productos.list')">
            <i class="fas fa-list"></i>
            Productos ofrecidos
        </a>
        <a class="navbar-nav" v-if="$root.user && $root.user.is_admin"
            @click="go_to('productos.categorias.list')">
            <i class="fas fa-tag"></i>
            Categorías
        </a>
        <a class="navbar-nav ml-auto" v-if="$root.user" @click="logout()">
            Logout
        </a>
        <a class="navbar-nav ml-auto" v-if="$root.user == null" @click="go_to('user.login')">
            Login
        </a>

    </nav>
</template>
<script>
export default {
    methods:{
        go_to(where){
            if(this.$route.name == where){
                return ;
            }
            this.$router.push({
                name:where
            })
        },
        logout(){
            let url = this.$router.resolve({
            name:'user.logout',
            }).href
            axios.post(url,{}).finally(()=>{
            this.$root.refresh_user()
            location.reload(true)
            })
        }
    }
}
</script>
<style scoped>
    nav{
        margin-bottom: 4px;
    }
    .navbar-nav{
        margin-right: 7px;
        display: block;
    }
</style>
