<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div :class="'alert alert-' + alert.tipo" role="alert" v-if="alert">
          {{ alert.mensaje }}
        </div>
        <div class="card">
          <div class="card-header">
            Productos a la venta
          </div>

          <div class="card-body">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Nombre</th>
                  <th>Stock</th>
                  <th>Precio</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              
              <tbody>
                <tr v-for="(pr,index) in productos" :key="index">
                  <td style="max-width:20px;">{{ index + 1 }}</td>
                  <td> {{ pr.nombre }}</td>
                  <td> {{ pr.stock }}</td>
                  <td> {{ formatear_precio(pr.precio) }}</td>
                  <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                      <button type="button" class="btn btn-primary" @click="ver(pr.id)">
                        <i class="fas fa-list"></i>
                      </button>
                      <button type="button" class="btn btn-warning" v-if="$root.user && $root.user.id != pr.creador_id"
                        data-toggle="modal" data-target="#carrito" @click="set(pr.id,pr.nombre,pr.stock,pr.precio)">
                        <i class="fas fa-shopping-cart"></i>
                      </button>
                      <button type="button" class="btn btn-success" v-if="$root.user && $root.user.id == pr.creador_id"
                        @click="ver_reserva(pr.id)">
                        <i class="fas fa-table"></i>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          
        </div>
      </div>
    </div>
    <div class="modal fade" id="carrito" tabindex="-1" role="dialog" 
      aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">
            Añadir "{{ carrito.nombre }}" al carrito
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              
            <div class="form-group">
              <label>Cantidad (max: {{carrito.stock}})</label>
              <input type="number" v-model="cantidad" class="form-control" 
                :max="carrito.stock" min=1 />
            </div>
            <div class="form-group">
              <label>Precio</label>
              <div class="form-control"> {{ formatear_precio(carrito.precio * cantidad) }}</div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              Cerrar
            </button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" 
              @click="submit_carrito()">
              Añadir
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data(){
      return {
        alert:null,
        count:null,
        carrito:{
          id:null,
          nombre:null,
          stock:null,
          precio:null,
        },
        cantidad:null,
        productos:[],
      }
    },
    created(){
      this.getData(0,10)
    },
    methods:{
      getData(offset,limit){
        let url = this.$router.resolve({
          name:'home',
          query:{
            limit:limit,
            offset:offset
          }
        }).href;
        axios.get(url).then((response)=>{
          this.count = response.data.size
          if(offset == 0){
            this.productos = response.data.values
          }else{
            this.productos.push(...response.data.values)
          }
          offset += limit
          if(offset<=this.count){
            this.getData(offset,limit)
          }
        })
      },
      formatear_precio(precio){
        if(precio == null){
          return 'n/a';
        }
        return precio.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")+ ' Gs.';
      },
      set(id,nombre,stock,precio){
        this.carrito = {
          id:id,nombre:nombre,
          stock:stock,precio:precio,
        }
        this.cantidad = 1
      },
      submit_carrito(){
        let url = this.$router.resolve({
          name:'carrito'
        }).href;
        let data = {
          cantidad : this.cantidad,
          producto_id : this.carrito.id
        }
        let nombre = this.carrito.nombre

        axios.post(url,data).then((response)=>{
          this.alert = {
            tipo:'success',
            mensaje:nombre + ' fue añadido al Carrito'
          }
        }).catch(()=>{
          this.alert = {
            tipo:'warning',
            mensaje:'No se pudo '+ nombre + 'añadir al Carrito'
          }
        })
      },
      ver_reserva(id){
        this.$router.push({
          name:'productos.reserva',
          params:{
            id:id
          }
        })
      },
      ver(id){
        this.$router.push({
          name:'productos.item',
          params:{
            id:id
          }
        })
      }
    }
  }
</script>
