<template>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
        <div class="text-right" style="margin-bottom:4px;">
              <button type="button" class="btn btn-primary" data-toggle="modal" 
                data-target="#form" @click="modal.id = null;modal.nombre = ''">
                <i class="fas fa-plus"></i> Nueva Categoría
              </button>
        </div>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Productos asociados</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(cat,index) in categorias" :key="index">
                    <td>{{index + 1}}</td>
                    <td>{{cat.nombre}}</td>
                    <td>{{cat.productos_count}}</td>
                    <td>
                      <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-light" data-toggle="modal" 
                            data-target="#form" @click="modal.id = cat.id;modal.nombre = cat.nombre">
                            <i class="far fa-edit"></i>
                        </button>
                        <button type="button" class="btn btn-danger" data-toggle="modal" :disabled="cat.productos_count>0"
                            data-target="#to_delete" @click="modal.id = cat.id;modal.nombre = cat.nombre">
                            <i class="far fa-trash-alt"></i>
                        </button>
                      </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- Modal -->
        <div class="modal fade" id="form" tabindex="-1" role="dialog" 
            aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">
                        {{ this.modal.id ? 'Editar Categoría': 'Nueva Categoría'}}
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label> Nombre</label>
                        <input type="text" class="form-control" id="nombre"
                            placeholder="Nombre" v-model="modal.nombre">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Cerrar
                    </button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" 
                        @click="post" :disabled="modal.nombre.length == 0">
                        Guardar
                    </button>
                </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="to_delete" tabindex="-1" role="dialog" 
            aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">
                        Borrar Categoría
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        ¿Desea borrar la categoría {{ modal.nombre }}?
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Cerrar
                    </button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" 
                        @click="del(modal.id)">
                        Borrar
                    </button>
                </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
</template>
<script>
export default {
    data(){
        return {
            modal:{
                id:null,
                nombre:'',
            },
            count: null,
            categorias:[],
        }
    },
    created(){
        this.getData()
    },
    methods:{
        getData(){
            let url = this.$router.resolve({
                name:'productos.categorias.list'
            }).href;
            axios.get(url).then((response)=>{
                this.count = response.data.size
                this.categorias = response.data.values
            })
        },
        del(id){
            let url = this.$router.resolve({
                name:'productos.categorias.item',
                params:{
                    id:id,
                }
            }).href
            axios.delete(url).finally(()=>{
                this.getData()
            })
        },
        post(){
            if(this.modal.id == null){
                let url = this.$router.resolve({
                    name:'productos.categorias.list'
                }).href
                axios.post(url,this.modal).finally(()=>{
                    this.getData()
                })
            }else{
                let url = this.$router.resolve({
                    name:'productos.categorias.item',
                    params:{
                        id:this.modal.id,
                    }
                }).href
                axios.put(url,this.modal).finally(()=>{
                    this.getData()
                })
            }
        }
    }
}
</script>
