<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">        
        <div class="card">
          <div class="card-header">
            Productos agregados al carrito
          </div>

          <div class="card-body">
            <div class="row">
              <div class="col-12 text-right">
                <button type="button" class="btn btn-primary" @click="reservar()">
                  <i class="fas fa-money-bill-wave"></i>
                  Reservar los productos
                </button>
              </div>
            </div>
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Nombre</th>
                  <th>Cantidad</th>
                  <th>Precio</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              
              <tbody>
                <tr v-for="(pr,index) in productos" :key="index">
                  <td style="max-width:20px;">{{ index + 1 }}</td>
                  <td> {{ pr.producto.nombre }}</td>
                  <td class="text-right"> {{ pr.cantidad }}</td>
                  <td class="text-right"> {{ formatear_precio(pr.precio) }}</td>
                  <td>
                    <div class="btn-group" role="group" aria-label="Basic example">                      
                      <button type="button" class="btn btn-light"
                        data-toggle="modal" data-target="#carrito" @click="set(pr.id,pr.producto.nombre,pr.producto.stock,pr.precio,pr.cantidad)">
                        <i class="fas fa-edit"></i>
                      </button>
                      <button type="button" class="btn btn-danger" @click="discard(pr.id)">
                        <i class="fas fa-times"></i>
                      </button>
                    </div>
                  </td>
                </tr>
                <tr v-if="productos.length == 0">
                  <td colspan="5">No hay productos en el carrito</td>
                </tr>
                <tr v-else>
                  <td colspan="3" class="text-right">Total</td>
                  <td class="text-right">{{ formatear_precio(sumar(productos)) }}</td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
          
        </div>
      </div>
    </div>
    <div class="modal fade" id="carrito" tabindex="-1" role="dialog" 
      aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">
            Añadir "{{ carrito.nombre }}" al carrito
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              
            <div class="form-group">
              <label>Cantidad (max: {{carrito.stock}})</label>
              <input type="number" v-model="cantidad" class="form-control" 
                :max="carrito.stock" min=1 />
            </div>
            <div class="form-group">
              <label>Precio</label>
              <div class="form-control"> {{ formatear_precio(carrito.precio * cantidad) }}</div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              Cerrar
            </button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" 
              @click="submit_carrito()">
              Añadir
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data(){
      return {
        alert:null,
        count:null,
        carrito:{
          id:null,
          nombre:null,
          stock:null,
          precio:null,
        },
        cantidad:null,
        productos:[],
      }
    },
    created(){
      this.getData()
    },
    methods:{
      getData(){
        let url = this.$router.resolve({
          name:'carrito',
        }).href;
        axios.get(url).then((response)=>{
          this.count = response.data.size          
          this.productos = response.data.values
        })
      },
      reservar(){
        let url = this.$router.resolve({
          name:'reservas',
        }).href;
        axios.post(url).then((response)=>{
          this.$router.push({
            name:'reservas',
          })
        })
      },
      formatear_precio(precio){
        if(precio == null){
          return 'n/a';
        }
        return precio.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")+ ' Gs.';
      },
      set(id,nombre,stock,precio,cantidad){
        this.carrito = {
          id:id,nombre:nombre,
          stock:stock,precio:precio,
        }
        this.cantidad = cantidad
      },
      sumar(lista){
        let sum = 0;
        for(let i in  lista){
          sum += lista[i]['precio']
        }
        return sum
      },
      submit_carrito(){
        let url = this.$router.resolve({
          name:'carrito.item',
          params:{
            id:this.carrito.id
          }
        }).href;
        let data = {
          cantidad : this.cantidad
        }
        let nombre = this.carrito.nombre

        axios.put(url,data).then((response)=>{
          this.alert = {
            tipo:'success',
            mensaje:nombre + ' fue añadido al Carrito'
          }
        }).catch(()=>{
          this.alert = {
            tipo:'warning',
            mensaje:'No se pudo '+ nombre + 'añadir al Carrito'
          }
        }).finally(()=>{
            this.getData()
        })
      },

      discard(id){
        let url = this.$router.resolve({
          name:'carrito.item',
          params:{
            id:this.carrito.id
          }
        }).href;
        
        axios.delete(url).finally(()=>{
          this.getData()
        })
      },
      ver(id){
        this.$router.push({
          name:'productos.item',
          params:{
            id:id
          }
        })
      }
    }
  }
</script>
