<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">        
        <div class="card">
          <div class="card-header">
            Productos reservados
          </div>

          <div class="card-body">            
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Nombre</th>
                  <th>Cantidad</th>
                  <th>Precio</th>
                </tr>
              </thead>
              
              <tbody>
                <tr v-for="(pr,index) in productos" :key="index">
                  <td style="max-width:20px;">{{ index + 1 }}</td>
                  <td> {{ pr.producto.nombre }}</td>
                  <td class="text-right"> {{ pr.cantidad }}</td>
                  <td class="text-right"> {{ formatear_precio(pr.precio) }}</td>
                </tr>
                <tr v-if="productos.length == 0">
                  <td colspan="4">No hay productos adquiridos</td>
                </tr>
                <tr v-else>
                  <td colspan="3" class="text-right">Total</td>
                  <td class="text-right">{{ formatear_precio(sumar(productos)) }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data(){
      return {
        count:null,
        cantidad:null,
        productos:[],
      }
    },
    created(){
      this.getData()
    },
    methods:{
      getData(){
        let url = this.$router.resolve({
          name:'reservas',
        }).href;
        axios.get(url).then((response)=>{
          this.count = response.data.size          
          this.productos = response.data.values
        })
      },
      formatear_precio(precio){
        if(precio == null){
          return 'n/a';
        }
        return precio.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")+ ' Gs.';
      },
      sumar(lista){
        let sum = 0;
        for(let i in  lista){
          sum += lista[i]['precio']
        }
        return sum
      },
    }
  }
</script>
